@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ruda:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch&family=Ruda:wght@400..900&display=swap');

:root {
    /*fontes*/
    --var01: "Rubik Glitch", system-ui;
    --var02: "Montserrat", sans-serif;
    --var03: "Ruda", sans-serif;

    /*Cores*/
    --var04: #06A73F;
    --var05: #FDC734;
    --var06: #1013EB;
    --var07: #48805C;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--var05);
    width: 100%;

}

