@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ruda:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch&family=Ruda:wght@400..900&display=swap');

:root {
    /*fontes*/
    --var01: "Rubik Glitch", system-ui;
    --var02: "Montserrat", sans-serif;
    --var03: "Ruda", sans-serif;

    /*Cores*/
    --var04: #06A73F;
    --var05: #FDC734;
    --var06: #1013EB;
    --var07: #48805C;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 92px;
    background-color: #1013EB;
    text-align: center;
    background-image: url('../imagens/salvando-a-terra-com-tecnologia-artificial\ 2.png');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 7px;
    position: relative;
}

header > h1 {
    font-family: var(--var01);
    color: white;
    font-weight: 100;
    padding-top: 15px;
}
div#entraecadastra {
    position: absolute;
    right: 2%;
    top: 23%;
}

div#entraecadastra > a {  
    color: white;
    font-family: var(--var02);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

a.cadastrar {
    border-bottom: 1px solid white;
    padding-bottom: 6px;
}

a.entrar {
    margin-top: 5px;    
}

.menu_nav{
    margin: 10px;
}
.menu_nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: var(--var02);
}

.menu_nav a:hover{
    text-decoration: underline 2px;
    text-decoration-color: #67EB26;
    text-decoration-line: underline;
}

.menu_btn {
    display: none;
}

.nav_drop {
    display: none;
    font-family: var(--var02);
    background-color: #fff;
    position: absolute;
    top: 119px;
    width: 100%;
    max-width: 300px;
    z-index: 3;
}

#all {
    display: none;
    width: 100vh;
    height: 100vh;
    background-color: ;
    position: absolute;
    top: -42px;
    z-index: 2;
}

.nav_drop ul {
    display: flex;
    flex-direction: column;
}

.drop_title {
    margin: 0px 20px;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #d9d9d9;
}

.drop_title h3 {
    font-weight: normal;
    width: max-content;
}

.drop_item {
    padding: 10px 0px 10px 40px;
    text-align: start;
    color: #000;
    text-decoration: none;
}

.drop_item:hover {
    background-color: #1e1e1e;
}

.drop_item:hover .drop_item_title {
    color: #fff;
}

.drop_item:hover .drop_item_desc {
    color: #adadad;
}

.drop_item_desc {
    color: #757575;
    font-size: 80%;
    margin-top: 5px;
}

div#reconhecimento{
    background-color: var(--var04);
    padding: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width:660px) {
    div#entraecadastra {
        display: none;
    }

    header {
        height: auto;
        background-position-x: 50%;
        background-position-y: 50px;
    }
    div#reconhecimento {
        margin-top: 75px;
    }

    header h1 {
        font-size: 24px;
    }

    .menu_nav {
        display: none;
    }

    .menu_btn {
        display: block;
        position: absolute;
        left: 10px;
        top: 12px;
        cursor: pointer;
    }
}