  @media screen and (min-width: 600px ) and (max-width: 771px) {

#icones  {
    margin: auto;
    font-family: var(--var01);
    font-weight: lighter;
}

#iconinsta {
    width: 25px;
    position: absolute;
    top: 11.9%;
    left: 44%;
    
}

#icone-mail {
    
    width: 28px;
    position: absolute;
     top: 10%;
    left: 48%;
}

#simbolo-esquerda {
    position: absolute;
    right: 91%;
    width: 90px;
    bottom: 45%;
}

#simbolo-direita{
    position: absolute;
    left: 98%;
    display: inline;
    
    padding: 0px;
    margin: 0px;
}

#simbolo-baixo-direita {
    position: absolute;
    top: 145%
}

#simbolo-baixo-esquerda {
    position: absolute;
    
    right: 29%;
}

#simbolo-meio-esquerda {
    position: absolute;
}

}





@media screen and (min-width: 776px) and (max-width: 1880px) {
    



footer {
    background-color: var(--var05);
    text-align: center;
    font-family: var(--var01);
    font-weight: 100;
    font-size: 20px;
    
    text-shadow: 0px 1px 9px #1013eb;
    position: relative;
    
    
    
}


#icones  {
    margin: auto;
    font-family: var(--var01);
    font-weight: lighter;
}

#iconinsta {
    width: 25px;
    position: absolute;
    top: 15%;
    left: 46%;
    
}

#icone-mail {
    
    width: 28px;
    position: absolute;
    top: 13%;
    left: 49.5%;
    
}

footer > p{
    color: white;
    font-size: 12px;
    font-family: var(--var03);
    margin-top: 50px;
}

#simbolo-esquerda {
    position: absolute;
    right: 98%;
    display: inline;
    bottom: 45%;
}

#simbolo-direita{
    position: absolute;
    left: 98%;
    display: inline;
    top: 1%;
    padding: 0px;
    margin: 0px;
}

#simbolo-baixo-direita {
    position: absolute;
    top: 145%
}
#simbolo-baixo-esquerda {
    position: absolute;
    top: 149%;
}

#simbolo-meio-esquerda {
    position: absolute;
}

}

@media screen and (min-width: 1280px) and (max-width: 1880px) {
    
footer {
    background-color: var(--var05);
    text-align: center;
    font-family: var(--var01);
    font-weight: 100;
    font-size: 20px;
   
    text-shadow: 0px 1px 9px #1013eb;
    position: relative;
    
    
}


#icones  {
    margin: auto;
    font-family: var(--var01);
    font-weight: lighter;
}

#iconinsta {
    width: 25px;
    position: absolute;
    top: 15%;
    left: 47.8%;
    
}

#icone-mail {
    
    width: 28px;
    position: absolute;
    top: 13%;
    left: 49.5%;
    
}

footer > p{
    color: white;
    font-size: 12px;
    font-family: var(--var03);
    margin-top: 50px;
}
}