@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ruda:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch&family=Ruda:wght@400..900&display=swap');

:root {
    /*fontes*/
    --var01: "Rubik Glitch", system-ui;
    --var02: "Montserrat", sans-serif;
    --var03: "Ruda", sans-serif;

    /*Cores*/
    --var04: #06A73F;
    --var05: #FDC734;
    --var06: #1013EB;
    --var07: #48805C;
}

div#reconhecimento {
    padding: 20px;
}

div#reconhecimento img {
    width: 50px;
    padding: 3px;
    cursor: pointer;
}

.tracos img {
    position: absolute;
    width: 65px;
}
.traco_esquerda01 {
    left: 0px;
    top: 185px;
}

.traco_esquerda02 {
    left: 0px;
    top: 670px;
}

.traco_direira01 {
    right: 0px;
    top: 185px;
}

.traco_direira02 {
    right: 0px;
    top: 670px;
}

main {
    margin-top: 79.45px;
}

.main_sobre_nos_container {
    width: 100%;
    background-color: var(--var05);
    display: flex;
    justify-content: center;
}

.quem_somos {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--var07);
    padding: 0px 5px;
}

.quem_somos img {
    width: 100%;
    max-width: 416px;
    height: 100%;
    max-height: 554px;
    margin: 20px 00px 55px 0px;
    z-index: 1;
}

.main_texto_container {
    width: 100%;
    background-color: var(--var06);
    display: flex;
    justify-content: center;
}

.texto {
    width: 100%;
    max-width: 1280px;
    padding: 20px 10px;
}

.texto div {
    display: flex;
    display: flex;
    align-items: center;
}

.texto p {
    color: #fff;
    font-size: 40px;
    line-height: 150%;
    text-align: justify;
}

.planta img {
    max-width: 485px;
    max-height: 485px;
    width: 100%;
    margin-right: 30px;
}
.arvore p {
    width: 67%;
}

.arvore div {
    width: 100%;
    display: flex;
    justify-content: center;
}
.arvore img {
    max-width: 360px;
    max-height: 360px;
}

.texto_oculto {
    display: none;
}

footer {
    width: 100%;
    background-color: var(--var05);
}

@media only screen and (max-width:1160px) {
    .arvore p {
        width: 100%;
        max-width: 330px;
    }
    .texto p {
        font-size: 30px;
        line-height: 140%;
    }
    img.planta {
        max-width: 300px;
        max-height: 300px;
    }
    .planta img {
        max-width: 300px;
        max-height: 300px;
    }
}

@media only screen and (max-width:820px) {
    .arvore p {
        width: 100%;
        max-width: 275px;
    }
    .texto p {
        font-size: 25px;
        line-height: 140%;
    }
    .planta img {
        max-width: 250px;
        max-height: 250px;
    }
    .arvore img {
        max-width: 210px;
        max-height: 210px;
    }
}

@media only screen and (max-width:660px) {
    main {
        margin-top: 0px;
    }
    .texto > div {
        flex-direction: column;
    }
    .ocultar {
        display: none;
    }
    .texto_oculto {
        display: block;
        width: 100%;
        max-width: 450px;
    }
    .planta img {
        max-width: 300px;
        max-height: 300px;
        margin: 0;
    }
    .arvore img {
        display: none;
    }
}